# Your Plaid keys, which can be found in the Plaid Dashboard.
# https://dashboard.plaid.com/account/keys
# You can use either development or sandbox secret
# Plaid env can either be 'sandbox', 'development', or 'production'
PLAID_SECRET=
PLAID_CLIENT_ID=
PLAID_ENV="sandbox"

# You can find your Google Client ID and Secret in your Google developer console
# https://console.cloud.google.com/apis/dashboard
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Session secret key
SESSION_SECRET=

# Port mapping of your choosing. This project uses port 8000
PORT=8000

# Your client url
CLIENT_URL="http://localhost:5173/"

# Your postgres instance
POSTGRES_PASSWORD="budgetbuddy"
POSTGRES_USER="budgetbuddy"
DB_PORT=5432
DB_HOST="db"

# Your redis instance
REDIS_HOST="redis"
REDIS_PORT=6379

# Your server url
VITE_SERVER_URL="http://localhost:8000"

# prod or dev
VITE_ENV="dev"